@charset "utf-8";
/* CSS Document */

/*--------RESET-CSS--------*/
* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body {
	width: 100%;
	color:#000000;
	background-color: #fff;
	text-align:center;
	font-family: 'New Rail Alphabet';
	font-weight:300;
	display: flex;
	flex-direction: column;
	position: relative;
	}
div, ul, h1, h2, h3, h4, h5, li, p, img, form, input, textarea {margin: 0; padding: 0;}
header, section, footer, aside, nav, main, article, figure {display: block;}
table, tr, td {border: 0;}
a {outline: none; color: inherit; text-decoration: none;}
img {border: none; height:auto;}
li {list-style: none;}
.img-full {max-width: 100%;}
.clearall {
	clear: both;
	font-size: 1px;
	line-height: 1px;
	height: 1px;
	}
.wrapper{
	overflow:hidden;
	}
/*--------fonts--------*/
@font-face {
    font-family: 'New Rail Alphabet White';
    src: url('/assets/fonts/NewRailAlphabet-White.woff2') format('woff2'),
        url('/assets/fonts/NewRailAlphabet-White.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'New Rail Alphabet';
    src: url('/assets/fonts/NewRailAlphabet-Bold.woff2') format('woff2'),
        url('/assets/fonts/NewRailAlphabet-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'New Rail Alphabet';
    src: url('/assets/fonts/NewRailAlphabet-Light.woff2') format('woff2'),
        url('/assets/fonts/NewRailAlphabet-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/*--------MAIN-CSS--------*/
.container {
	width:1328px;
	margin:0 auto;
	padding:0;
	position:relative;
}

/* -------- TOP STRIP -------- */
.top_strip{
	width: 100%;
	display: flex;
	background-color: #322D2D;
	padding: 14.6px 0px;
	border-radius: 0 0 4.05px 4.05px;
}
.top_strip__inner{
	width: 100%;
	display: flex;
	justify-content: center;
}
.top_strip__text{
	font-family: New Rail Alphabet;
	font-weight: 300;
	font-size: 14.16px;
	line-height: 16.17px;
	text-transform: uppercase;
	color: #fff;
}

/* -------- HEADER -------- */
.header{
	width: 100%;
	padding: 15.5px 0;
}
.header__inner{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}
.header__logo{
	width: 175px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.header__logo img{
	width: 100%;
}
.header__nav_bar{
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 32.36px;
}
.header__nav_bar li{
	display: flex;
}
.header__nav_bar li a{
	font-family: New Rail Alphabet;
	font-weight: 300;
	font-size: 16.18px;
	line-height: 150%;
	color: #322D2D;
	display: flex;
	align-items: center;
}
.header__nav_bar li a span{
	margin-left: 4.05px;
	width: 24.27px;
}
.header__right{
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 12px;
}
.header__search_button{
	width: 38px;
	height: 38px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer
}
.header__button{
	border: none;
	outline: none;
	height: 42px;
	border-radius: 505px;
	padding: 12.14px 24.27px;
	background: linear-gradient(93.63deg, #CAA648 -0.61%, #CAA648 10.09%, #D5B147 25.19%, #E4C267 46.69%, #E2C065 78.94%, #DBB95E 90.77%, #D0AE52 98.29%, #C09F41 104.74%, #BB9A3C 106.89%);
	font-family: New Rail Alphabet;
	font-weight: 300;
	font-size: 18.2px;
	line-height: 16.18px;
	color: #000;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 29px;
}
.header_input{
	width: 841px;
	height: 42px;
	border-radius: 25px;
	border: none;
	outline: none;
	background-color: #D9D9D9;
	font-family: New Rail Alphabet;
	padding: 10px 40px;
	position: absolute;
	top: 0;
	left: 250px;
}
.hidden{
	display: none;
}

/* -- HERO SECTION -- */
.hero_section{
	width: 100%;
	padding: 100px 0 60px;
}
.hero_inner{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
.hero_left{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.hero_rating{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	column-gap: 8px;
	padding: 4px 16px 4px 7px;
	font-family: New Rail Alphabet;
	font-weight: 300;
	font-size: 16px;
	line-height: 100%;
	letter-spacing: 0px;
	color: #322D2D;
	background: linear-gradient(90.05deg, rgba(255, 255, 255, 0.36) 0.04%, rgba(252, 252, 252, 0.12) 102.54%);
	border: 0.5px solid;
	border-image-source: linear-gradient(90.05deg, rgba(255, 255, 255, 0.5) 0.04%, rgba(252, 252, 252, 0.4) 102.54%);
	border-radius: 100px;
}
.hero_rating span{
	background-color: #fff;
	display: flex;
	align-items: center;
	column-gap: 8px;
	padding: 10px 12.38px;
	border-radius: 100px;
}
.hero__heading{
	font-family: New Rail Alphabet;
	font-weight: 300;
	font-size: 56px;
	line-height: 112%;
	letter-spacing: -1.33px;
	color: #322D2D;
	margin-top: 27px;
}
.hero_about{
	margin-top: 40px;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	column-gap: 70px;
}
.hero_about li{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-align: left;
}
.hero_about li h1{
	font-family: New Rail Alphabet;
	font-weight: 700;
	font-size: 72px;
	line-height: 100%;
	letter-spacing: 0px;
	vertical-align: middle;
	background: linear-gradient(93.63deg, #CAA648 -0.61%, #CAA648 10.09%, #D5B147 25.19%, #E4C267 46.69%, #E2C065 78.94%, #DBB95E 90.77%, #D0AE52 98.29%, #C09F41 104.74%, #BB9A3C 106.89%);
	background-clip: text;
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero_about li h1 span{
	display: inline-block;
	font-size: 25px;
	line-height: 100%;
	background: linear-gradient(93.63deg, #CAA648 -0.61%, #CAA648 10.09%, #D5B147 25.19%, #E4C267 46.69%, #E2C065 78.94%, #DBB95E 90.77%, #D0AE52 98.29%, #C09F41 104.74%, #BB9A3C 106.89%);
	background-clip: text;
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero_about li p{
	color: #322D2D;
	font-family: New Rail Alphabet;
	font-weight: 300;
	font-size: 22px;
	line-height: 104%;
}
.hero_cta{
	margin-top: 40px;
	background: linear-gradient(93.63deg, #CAA648 -0.61%, #CAA648 10.09%, #D5B147 25.19%, #E4C267 46.69%, #E2C065 78.94%, #DBB95E 90.77%, #D0AE52 98.29%, #C09F41 104.74%, #BB9A3C 106.89%);
	border-radius: 100px;
	font-family: New Rail Alphabet;
	font-weight: 300;
	font-size: 18.2px;
	line-height: 1;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	column-gap: 30px;
	padding: 16px 27px;
}
.hero_right{
	display: flex;
	align-items: center;
	justify-content: center;
}
.hero_right img{
	max-width: 100%;
}
.hero_text{
	width: 100%;
	margin-top: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
.hero_text::before{
	content: '';
	position: absolute;
	top: 50%;
	left: -1000px;
	right: -1000px;
	transform: translateY(-50%);
	height: 1500px;
	background: linear-gradient(180deg, rgba(243, 243, 243, 0.75) 0%, rgba(184, 184, 184, 0.8) 50%, rgba(243, 243, 243, 0.25) 100%);
	z-index: -9;
}
.hero_text p{
	position: relative;
	font-family: New Rail Alphabet;
	font-weight: 300;
	font-size: 36px;
	line-height: 100%;
	letter-spacing: -2.02px;
	text-align: center;
	text-transform: capitalize;
	color: #322D2D;
	border-radius: 14px; 
	background-color: #c7c7c7;
	padding: 23px 150px;
}
.hero_text p::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: linear-gradient(93.63deg, #CAA648 -0.61%, #CAA648 10.09%, #D5B147 25.19%, #E4C267 46.69%, #E2C065 78.94%, #DBB95E 90.77%, #D0AE52 98.29%, #C09F41 104.74%, #BB9A3C 106.89%);
    border-radius: 16px;
    z-index: -1;
}

/* --------SECTION 1-------- */
.section1{
	width: 100%;
	padding: 40px 0;
}
.s1_inner{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.s1_left{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 55%;
}
.s1_left img{
	max-width: 100%;
}
.s1_right{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-align: left;
	width: 40.5%;
}
.s1_heading{
	font-family: New Rail Alphabet;
	font-weight: 300;
	font-size: 24px;
	line-height: 100%;
	letter-spacing: 3.03px;
	background: linear-gradient(90deg, #9E6718 0%, #FFB545 100%);
	background-clip: text;
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.s1_heading2{
	font-family: New Rail Alphabet;
	font-weight: 300;
	font-size: 36px;
	line-height: 100%;
	letter-spacing: 0px;
	color: #322D2D;
	margin-top: 30px;
}
.s1_text{
	font-family: New Rail Alphabet;
	font-weight: 300;
	font-size: 21px;
	line-height: 30px;
	letter-spacing: 0px;
	color: #322D2D;
	margin-top: 20px;
}
.hero_cta.large_cta{
	column-gap: 60px;
}

/* ---- GUARANTEE STRIP ---- */
.grnt_strip{
	width: 100%;
}
.grnt_inner{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #F9F9F9;
	border-radius: 14px;
	padding: 32px 25px;
	column-gap: 10px;
}
.grnt_head{
	font-family: New Rail Alphabet;
	font-weight: 300;
	font-size: 17px;
	line-height: 100%;
	letter-spacing: 2px;
	background: linear-gradient(90deg, #9E6718 0%, #FFB545 115.92%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.grnt_list{
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: left;
	column-gap: 30px;
}
.grnt_list li{
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 14px;
}
.grnt_icon{
	display: flex;
	align-items: center;
	justify-content: center;
}
.grnt_icon svg{
	max-width: 100%;
}
.grnt_text{
	display: flex;
	flex-direction: column;
	row-gap: 8px;
}
.grnt_text h2{
	font-family: New Rail Alphabet;
	font-weight: 300;
	font-size: 20px;
	line-height: 22.99px;
	letter-spacing: 0px;
	color: #322D2D;
}
.grnt_text p{
	color: #666666;
	font-family: New Rail Alphabet;
	font-weight: 300;
	font-size: 16px;
	line-height: 19.16px;
}

/* ---- AS SEEN IN ---- */
.seen_strip{
	width: 100%;
	padding: 90px 0 0;
}
.seen_inner{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 37px;
}
.seen_head{
	font-family: New Rail Alphabet;
	font-weight: 700;
	font-size: 24.27px;
	line-height: 140%;
	text-transform: uppercase;
}
.seen_list{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	column-gap: 68px;
}
.seen_list li{
	display: flex;
	align-items: center;
	justify-content: center;
}
.seen_list li img{
	height: 38px;
	width: auto;
}

/* ------ SECTION 2 ------ */
.section2{
	width: 100%;
	padding: 90px 0;
}
.s2_inner{
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
.s2_left{
	width: 46%;
	display: flex;
	flex-direction: column;
}
.s2_slider_modal{
	width: 100%;
	height: 670px;
	position: relative;
	background-color: #F9F9F9;
	border-radius: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}
.s2_slider_modal img{
	max-width: 100%;
	transition: transform 0.5s ease-in-out;
}
.slide-left {
    transform: translateX(-100%);
}
.slide-right {
    transform: translateX(100%);
}
.slide_buttons{
	width: calc(100% - 80px);
	position: absolute;
	bottom: 40px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.slide_buttons button{
	width: 39px;
	height: 39px;
	border-radius: 50%;
	border: 1px solid #322D2D;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}
.pagination {
    margin-top: 10px;
}
.dot {
    height: 8px;
    width: 8px;
    margin: 4px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
	border: 1px solid #322D2D;
}
.dot.active {
	border: 1px solid #322D2D;
    background-color: #322D2D;
}
.thumb_list{
	width: 100%;
	margin-top: 30px;
	display: flex;
	row-gap: 30px;
	flex-wrap: wrap;
	justify-content: space-between;
}
.thumb_list img{
	width: 22%;
	background-color: #F9F9F9;
	border-radius: 12px;
	cursor: pointer;
}
.s2_right{
	width: 46%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.s2_head{
	font-family: New Rail Alphabet;
	font-weight: 300;
	font-size: 36px;
	line-height: 100%;
	color: #322D2D;
}
.s2_rating{
	margin-top: 10px;
	font-family: New Rail Alphabet;
	font-weight: 300;
	font-size: 13px;
	line-height: 100%;
	color: #322D2D;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	column-gap: 6px;
}
.s2_text{
	margin-top: 20px;
	font-family: New Rail Alphabet;
	font-weight: 300;
	font-size: 16.18px;
	line-height: 120%;
	text-align: justify;
	color: #322D2D;
}
.s2_choose{
	margin-top: 30px;
	font-family: New Rail Alphabet;
	font-weight: 300;
	font-size: 24px;
	line-height: 20.23px;
	color: #322D2D;
}
.s2_flavor_group{
	width: 80%;
	margin-top: 17px;
	display: flex;
	justify-content: space-between;
}
.s2_flavors{
	background: #F9F9F9;
	width: 31%;
	border-radius: 6px;
	text-align: left;
	padding: 8px 12px;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.s2_flavors input{
	display: none;
}
.s2_flavors_name{
	width: 100%;
	font-family: New Rail Alphabet;
	font-weight: 300;
	font-size: 16px;
	line-height: 100%;
	color: #919798;
	padding-left: 20px;
	position: relative;
}
.s2_flavors_name::before{
	content: "";
	position: absolute;
	width: 12px;
	height: 12px;
	border: 1px solid #919798;
	border-radius: 50%;
	left: 0;
	top: 1px;
	box-sizing: border-box;
}
.s2_flavors_name::after{
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	left: 1px;
	top: 2px;
	box-sizing: border-box;
}
.s2_flavors.active .s2_flavors_name span{
	background: linear-gradient(90deg, #9E6718 0%, #FFB545 100%);
	background-clip: text;
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.s2_flavors.active .s2_flavors_name::before{
	background: linear-gradient(90deg, #9E6718 0%, #FFB545 100%);
	border: none;
}
.s2_flavors.active .s2_flavors_name::after{
	border: 1px solid #fff;
	border-radius: 50%;
}
.s2_flav_img{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}
.s2_flav_img img{
	max-width: 90%;
}
.best_seller{
	font-family: New Rail Alphabet;
	font-weight: 700;
	font-size: 10.26px;
	line-height: 9.12px;
	color: #fff;
	text-transform: uppercase;
	padding: 4px 6px;
	border-radius: 6px 0 6px 0;
	margin: 10px -12px -8px auto;
	background: linear-gradient(90deg, #A27533 0%, #FAC568 100%);
}

.s2_purchase_group{
	width: 100%;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	text-align: left;
}
.s2_purchase{
	border: 1px solid #B8B8B8;
	padding: 0 30px 0 55px;
	border-radius: 6px;
	display: flex;
	flex-direction: column;
	cursor: pointer;
}
.s2_purchase input{
	display: none;
}
.s2_most_popular{
	width: calc(100% + 85px);
	margin-left: -55px;
	background: linear-gradient(90deg, #A27533 0%, #FAC568 100%);
	border-bottom: 1px solid #B8B8B8;
	border-radius: 6px 6px 0 0;
	text-align: center;
	font-family: New Rail Alphabet;
	font-weight: 700;
	font-size: 20.23px;
	line-height: 24.27px;
	color: #fff;
	padding: 10px 25px;
}
.s2_pur_heading{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	padding: 15px 0;
}
.s2_pur_heading::before{
	content: "";
	position: absolute;
	width: 16px;
	height: 16px;
	border: 1px solid #DEA453;
	border-radius: 50%;
	left: -30px;
	top: 16px;
	box-sizing: border-box;
}
.s2_pur_heading::after {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    left: -29px;
    top: 17px;
    box-sizing: border-box;
}

.s2_purchase.active .s2_pur_heading::before{
	background: linear-gradient(90deg, #9E6718 0%, #FFB545 100%);
	border: none;
}
.s2_purchase.active .s2_pur_heading::after{
	border: 2px solid #fff;
	border-radius: 50%;
}
.s2_pur_heading h1{
	font-family: New Rail Alphabet;
	font-weight: 300;
	font-size: 24px;
	line-height: 20.23px;
	color: #322D2D;
}
.s2_pur_heading h2{
	font-family: New Rail Alphabet;
	font-weight: 300;
	font-size: 24px;
	line-height: 20.23px;
	color: #322D2D;
}
.s2_pur_heading h2 span{
	color: #919798;
	font-family: New Rail Alphabet;
	font-weight: 300;
	font-size: 24px;
	line-height: 20.23px;
	text-decoration: line-through;
	text-decoration-thickness: 1px;
	margin-left: 10px;
}
.s2_purchase_inner{
	width: 100%;
	border-top: 1px solid #919798;
	display: flex;
	flex-direction: column;
	padding-bottom: 30px;
}
.s2_inner_text{
	font-family: New Rail Alphabet;
	font-weight: 700;
	font-size: 16.18px;
	line-height: 100%;
	color: #322D2D;
	margin-top: 25px;
}
.s2_inner_items{
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}
.s2_inner_items li{
	display: flex;
	flex-direction: column;
	border: 1px solid #919798;
	border-radius: 6px;
	padding: 10px 12px 30px;
	row-gap: 25px;
}
.s2_item_left{
	width: 32%;
	border: 1px solid #919798;
}
.s2_item_right{
	width: 64%;
	border: 1px solid #919798;
}
.s2_inner_items li p{
	color: #6F7577;
	font-family: New Rail Alphabet;
	font-weight: 300;
	font-size: 16.18px;
	line-height: 100%;
}
.s2_inner_items li p span{
	color: #D0AF80;
}
.s2_item_img{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.s2_item_img img{
	max-width: 100%;
}
.s2_inner_points{
	width: 100%;
	margin-top: 25px;
	display: flex;
	flex-direction: column;
	row-gap: 5px;
}
.s2_inner_points li{
	width: 100%;
	display: flex;
	align-items: baseline;
	column-gap: 8px;
	justify-content: flex-start;
}
.s2_cart_btn{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 10px;
	border-radius: 50px;
	margin-top: 25px;
	background-color: #667744;
	color: #fff;
	font-family: New Rail Alphabet;
	font-weight: 300;
	font-size: 18.2px;
	line-height: 18px;
	padding: 12px 24px;
}

/* ------ TAGS LIST ------ */
.tags_list{
	width: 100%;
}
.tags_inner{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.tags_inner li{
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 16px;
}
.tags_inner li svg{
	height: 46px;
	width: auto;
}
.tags_inner li p{
	color: #322D2D;
	font-family: New Rail Alphabet;
	font-weight: 300;
	font-size: 20px;
	line-height: 24.27px;
}

/* ------ SECTION 3 ------ */
.section3{
	width: 100%;
	padding: 90px 0;
}
.s3_inner{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.s3_left{
	width: 40%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.s3_left img{
	max-width: 100%;
}
.s3_right{
	width: 58%;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}
.s3_heading{
	font-family: New Rail Alphabet;
	font-weight: 300;
	font-size: 36px;
	line-height: 112%;
	letter-spacing: -1.33px;
	color: #322D2D;
}
.s3_sub_head{
	font-family: New Rail Alphabet;
	font-weight: 700;
	font-size: 12px;
	line-height: 100%;
	letter-spacing: 3.03px;
	color: #322D2D;
	margin-top: 24px;
}
.s3_group{
	margin-top: 40px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	row-gap: 22px;
	column-gap: 32px;
}
.s3_card{
	width: calc(50% - 16px);
	background-color: #FAFAF8;
	border-radius: 17px;
	padding: 20px 24px 20px 88px;
	box-shadow: 0px 4px 4px 0px #00000040;
	text-align: left;
}
.s3_card_head{
	width: calc(100% + 64px);
	margin-left: -64px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	column-gap: 20px;
}
.s3_card_head h2{
	color: #666666;
	font-family: New Rail Alphabet;
	font-weight: 700;
	font-size: 18px;
	line-height: 24.27px;
}
.s3_card_head img{
	width: 44px;
}
.s3_card_text{
	width: 100%;
	margin-top: 10px;
	color: #666666;
	font-family: New Rail Alphabet;
	font-weight: 300;
	font-size: 16.18px;
	line-height: 20.23px;
}

/* ------ SECTION 4 ------ */
.section4{
	width: 100%;
}
.s4_inner{
	display: flex;
	background: url(../assets/s4_bg.jpg) no-repeat right center;
	background-size: cover;
	border-radius: 16px;
	padding: 60px 72px;
	text-align: left;
}
.s4_col{
	width: 46%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.s4_subs{
	font-family: Oxanium;
	font-weight: 400;
	font-size: 12.43px;
	line-height: 100%;
	letter-spacing: 3.14px;
	background: linear-gradient(90deg, #9E6718 0%, #FFB545 100%);
	background-clip: text;
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.s4_head{
	font-family: New Rail Alphabet;
	font-weight: 300;
	font-size: 41.43px;
	line-height: 120%;
	margin-top: 40px;
}
.s4_tags_list{
	margin-top: 25px;
	width: 90%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	row-gap: 10px;
	column-gap: 10px;
}
.s4_tags_list li{
	font-family: New Rail Alphabet;
	font-weight: 300;
	font-size: 16.57px;
	line-height: 100%;
	color: #322D2D;
	background-color: #D6D5D5;
	border-radius: 50px;
	padding: 12px 18px;
}

/* ------ SECTION 5 ------ */
.section5{
	width: 100%;
	padding: 90px 0;
}
.s5_inner{
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.s5_left{
	width: 42%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	text-align: left;
}
.s5_left_top{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.s5_heading{
	width: 100%;
	font-family: New Rail Alphabet;
	font-weight: 300;
	font-size: 40px;
	line-height: 120%;
	color: #322D2D;
}
.s5_text{
	width: 100%;
	color: #666666;
	font-family: New Rail Alphabet;
	font-weight: 300;
	font-size: 20px;
	line-height: 24.27px;
	margin-top: 20px;
}
.s5_steps{
	width: 100%;
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	row-gap: 45px;
}
.s5_steps li{
	width: 100%;
	padding: 0 35px 0 80px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	row-gap: 10px;
}
.s5_steps li h1{
	width: 45px;
	font-family: New Rail Alphabet;
	font-weight: 300;
	font-size: 72.94px;
	line-height: 1;
	color: #322D2D;
	opacity: 20%;
	position: absolute;
	top: -5px;
	left: 0;
	text-align: center;
}
.s5_steps li h2{
	background: linear-gradient(90deg, #9E6718 0%, #FFB545 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-family: New Rail Alphabet;
	font-weight: 700;
	font-size: 20px;
	line-height: 24.27px;
}
.s5_steps li p{
	width: 100%;
	font-family: New Rail Alphabet;
	font-weight: 300;
	font-size: 16px;
	line-height: 20.23px;
	color: #666666;
}

.s5_right{
	width: 47.064%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.s5_video_box{
	max-width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
	border-radius: 14px;
	cursor: pointer;
}
.s5_video_box img{
	max-width: 100%;
}
.s5_video_box svg{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* ------ SECTION 6 ------ */
.section6{
	width: 100%;
	padding: 60px 0 55px;
	background: url(../assets/s6_bg.jpg) no-repeat center center;
	background-size: cover;
}
.s6_inner{
	width: 100%;
	padding: 0 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 7%;
	text-align: left;
}
.s6_inner li{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	row-gap: 20px;
}
.s6_inner li h2{
	color: #fff;
	font-family: New Rail Alphabet;
	font-weight: 700;
	font-size: 40px;
	line-height: 100%;
}
.s6_inner li p{
	color: #fff;
	font-family: New Rail Alphabet;
	font-weight: 300;
	font-size: 16px;
	line-height: 100%;
}

/* ------ SECTION 7 ------ */
.section7{
	width: 100%;
	padding: 40px 0 90px;
}
.s7_inner{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.s7_lines{
	font-family: Oxanium;
	font-weight: 300;
	font-size: 40px;
	line-height: 100%;
	color: #322D2D;
}
.s7_heading{
	width: 100%;
	margin-top: 40px;
	display: flex;
	justify-content: center;
	color: #322D2D;
	font-family: New Rail Alphabet;
	font-weight: 300;
	font-size: 40.45px;
	line-height: 120%;
}
.s7_heading span{
	width: 50%;
}
.s7_table{
	width: 72%;
	margin: 55px 0 40px;
	border-collapse: collapse;
	display: flex;
}
.s7_table tbody{
	width: 100%;
	display: flex;
	flex-direction: column;
}
.s7_table tbody tr{
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.s7_table tr th:first-child,
.s7_table tr td:first-child{
	width: 32%;
	padding-left: 15px;
	border-bottom: 1px solid #666666;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.s7_table tr:first-child th:first-child{
	font-family: New Rail Alphabet;
	font-weight: 700;
	font-size: 16px;
	line-height: 22.99px;
}
.s7_table tr td:first-child{
	font-family: New Rail Alphabet;
	font-weight: 700;
	font-size: 16px;
	line-height: 19.16px;
	color: #666666;
}
.s7_table tr th:nth-child(2),
.s7_table tr td:nth-child(2){
	width: 22%;
	border-bottom: 1px dotted #666666;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #F0EEE6;
}
.s7_table tr th:nth-child(2){
	border-radius: 16px 16px 0 0;
}
.s7_table tr:last-child td:nth-child(2){
	border-radius: 0 0 16px 16px;
}
.s7_table tr th:nth-child(3),
.s7_table tr td:nth-child(3),
.s7_table tr th:nth-child(4),
.s7_table tr td:nth-child(4),
.s7_table tr th:nth-child(5),
.s7_table tr td:nth-child(5){
	width: 15.33%;
	border-bottom: 1px solid #666666;
}
.table_img{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	row-gap: 20px;
	padding: 30px 10px 25px;
}
.table_img img{
	height: 89px;
	width: auto;
	max-width: 90%;
}
.table_img img.s7_logo{
	width: 128px;
	height: 22px;
}
.table_img p{
	color: #666666;
	font-family: New Rail Alphabet;
	font-weight: 300;
	font-size: 12px;
	line-height: 19.16px;
}
.s7_table td{
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.green_check{
	width: 28px;
	height: 28px;
	background-color: #667744;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.white_check,
.white_cross{
	width: 28px;
	height: 28px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #322D2D;
}

/* ------ SECTION 8 ------ */
.section8{
	width: 100%;
	padding-bottom: 90px;
}
.s8_inner{
	width: 100%;
	display: flex;
	flex-direction: column;
	row-gap: 65px;
}
.s8_top{
	width: 100%;
	position: relative;
	border-radius: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	cursor: pointer;
}
.s8_top img{
	max-width: 100%;
}
.s8_top svg{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.s8_bottom{
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.s8_left{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.s8_heading{
	color: #322D2D;
	font-family: New Rail Alphabet;
	font-weight: 300;
	font-size: 40.45px;
	line-height: 130%;
}
.s8_about{
	width: 50%;
	text-align: left;
	font-family: New Rail Alphabet;
	font-weight: 300;
	font-size: 20px;
	line-height: 130%;
	color: #322D2D;
	margin-right: 60px;
}

/* ------ SECTION 9 ------ */
.section9{
	width: 100%;
	padding: 80px 0;
	background-color: #F0EFEB;
}
.s9_inner{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 35px;
}
.s9_top{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.s9_top_head{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	row-gap: 15px;
}
.s9_top_head h1{
	font-family: New Rail Alphabet;
	font-weight: 300;
	font-size: 40px;
	line-height: 100%;
	color: #322D2D;
}
.s9_top_head p{
	font-family: New Rail Alphabet;
	font-weight: 300;
	font-size: 20px;
	line-height: 150%;
	color: #322D2D;
}
.s9_top_buttons{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	column-gap: 16px;
}
.s9_top_btn{
	width: 48px;
	height: 48px;
	border: 1px solid #322D2D;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.s9_top_btn:hover{
	background-color: #322D2D;
}
.s9_top_btn:hover svg path{
	filter: invert(1);
}
.s9_bottom{
	width: 100%;
	display: flex;
	justify-content: space-between;
	text-align: left;
	transition: transform 0.5s ease-in-out
}
.s9_card{
	width: 31.5%;
	background-color: #FCFCFC;
	border-radius: 12px;
	margin: 0 10px;
	padding: 30px 32px 40px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	row-gap: 25px;
	flex: 0 0 calc(33.33% - 20px);
}
.s9_card_rating{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	row-gap: 25px;
}
.s9_card_rating img{
	width: 118px;
}
.s9_card_rating p{
	width: 100%;
	font-family: New Rail Alphabet;
	font-weight: 300;
	font-size: 16px;
	line-height: 150%;
	color: #322D2D;
}
.s9_card_name{
	padding-left: 66px;
	position: relative;
	font-family: New Rail Alphabet;
	font-weight: 300;
	font-size: 14px;
	line-height: 150%;
	color: #322D2D;
}
.s9_card_name img{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	border-radius: 50%;
}



.s9_pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 8px;
}
.s9_dot {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    cursor: pointer;
	border: 1px solid #322D2D;
}
.s9_dot.active {
    background-color: #322D2D;
}